
<div class="container">
    <div class="well">Checked tasks</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Description</th>
                @*<th>To user</th>*@
                <th>Creation date</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>       
            @if (ViewBag.Tasks != null)
            {          
            foreach (var task in ViewBag.Tasks)
            {
                if(@task.IsChecked == true)
                {
                    <tr>
                        <td>@task.Description</td>
                        @*<td>@Url.Action()</td>*@
                        <td>@task.DateCreation</td>
                        <td>@task.DateCreation</td>
                        <td><button type="button"
                                     class="btn btn-default"
                                     onclick="location.href='@Url.Action("Register", "Account")'">Open</button></td>
                    </tr>
                }

            }
            }
        </tbody>
    </table>
</div>