
<div id="content">
    <ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs">
        <li class="active">
            <a data-toggle="tab" href="#user">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li>
                <a data-toggle="tab" href="#add" >
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#tasks" >
                    <span class="glyphicon glyphicon-th-list"></span>
                </a>
            </li>

        }
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="user">
            @if (!User.Identity.IsAuthenticated)
            {
                @Html.Partial("_Login");
            }
            else
            {
                @Html.Partial("_Logout");
            }
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="tab-pane" id="add">

                
                

                
            </div>

            <div class="tab-pane active" id="tasks">
                <div class="well">
                    <strong>Total Tasks : </strong> @ViewBag.Tasks.CountTasks<br>
                    <strong>Checked Tasks : </strong>  @ViewBag.Tasks.CountCheckedTasks<br><br>
                    
                    <button type="button" class="btn btn-block btn-primary" onclick="location.href='@Url.Action("ShowFromUserTasks", "Home")'">Show give away tasks</button><br>
                    <button type="button" class="btn btn-block btn-primary" onclick="location.href='@Url.Action("ShowUserTasks", "Home")'">Show my tasks</button><br>
                </div>
            </div>
        }
    </div>
</div>

