
<div id="content">
    <ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs">
        <li class="active">
            <a data-toggle="tab" href="#user">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li>
                <a data-toggle="tab" href="#add" >
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#tasks" >
                    <span class="glyphicon glyphicon-th-list"></span>
                </a>
            </li>

        }
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="user">
            @if (!User.Identity.IsAuthenticated)
            {
                @Html.Partial("_Login");
            }
            else
            {
                @Html.Partial("_Logout");
            }
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="tab-pane" id="add">

                <div class="well">
                    <br><br><br><br>
                   @Ajax.ActionLink("Create task", "CreateTask", "Home", new AjaxOptions
                {
                    HttpMethod = "Get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "main",

                }, new { @type = "button", @class = "btn btn-block btn-primary" })
                </div>
                
                

                
            </div>

            <div class="tab-pane" id="tasks">
                <div class="well">
                    <strong>Total Tasks : </strong> @ViewBag.Tasks.CountTasks<br>
                    <strong>Checked Tasks : </strong>  @ViewBag.Tasks.CountCheckedTasks<br><br>

                    @Ajax.ActionLink("Show give away tasks", "ShowFromUserTasks", "Home", new AjaxOptions
                {
                    
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "main",

                }, new { @type = "button", @class = "btn btn-block btn-primary" }) <br>

                    @Ajax.ActionLink("Show my tasks", "ShowUserTasks", "Home", new AjaxOptions
                {

                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "main",

                }, new { @type = "button", @class = "btn btn-block btn-primary" })

                   
                </div>
            </div>
        }
    </div>
</div>

