@model TaskManager.Models.TaskViewModel

@{
    var options = new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "main",
        Url = Url.Action("CreateTask", "Home"),
        LoadingElementId = "loadingIndicator"
    };
}

@if (User.Identity.IsAuthenticated)
{
    <div class=" col-md-7 ">
        <div class="panel">
            <div class="panel-heading text-center ">
                <h3>Creating new task</h3>
            </div>
            <div class="panel-body">
                @{
    int n = ViewBag.AllUsers.Count;
    string[] allUsers = new string[n-1];

    for (int i = 0, j =0; j < n; i++, j++)
    {
        if (ViewBag.AllUsers[j].Login != User.Identity.Name)
        { allUsers[i] = ViewBag.AllUsers[j].Login; }
        else { i--; }            
    }

                }

                @using (Ajax.BeginForm(options))
                {


                    <fieldset>
                        <legend>Creating new task</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Enter name of the task" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = "Enter the description" })
                        </div>

                        <div class="form-group">
                            @Html.Label("To user: ")
                            @Html.DropDownList("toUser", new SelectList(allUsers))
                            
                        </div>



                        <div class="row">
                            <div class="col-md-6">
                                
                                <button type="submit" class="btn btn-success btn-lg btn-block">Create</button>
                            </div>
                            <div class="col-md-6">
                      
                                <button type="reset" class="btn btn-info btn-lg btn-block">Cancel</button>
                            </div>
                            <div class="col-md-12">

                                <img id="loadingIndicator" style="display:none" src="@Url.Content("~/Content/Images/Preloader_2/Preloader_2.gif")" />
                            </div>
                            
                        </div>
                    </fieldset>
                }
            </div>

        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>
}
